#menu-toggle
  = link_to "#", class: "btn btn-lg btn-dark toggle" do
    %i.fa.fa-bars
.logo
  Island Cedar
  %span Products Ltd.
%nav#sidebar-wrapper
  %ul.sidebar-nav
    = link_to "#", id: "menu-close", class: "btn btn-light btn-lg pull-right toggle" do
      %i.fa.fa-times
    %li.sidebar-brand= link_to "Island Cedar", "#top"
    %li= link_to "Home", "#top"
    %li= link_to "About", "#about"
    %li= link_to "Products", "#services"
    %li= link_to "History", "#history"
    %li= link_to "Contact", "#contact"
//Header
#top
= partial 'partials/carousel'

%section#about.about
  .container
    .row
      .col-lg-12.text-center
        %h2 Shingle and Shake Mill
        %p.lead
          We are leading manufacturer of roofing products in fraser valley
          = succeed "." do
            %a{:href => "#products"} Find out below

%section#services.services.bg-primary
  .container
    .row.text-center
      %h2 What do we make ?
      %hr.small
      .row.col-lg-12
        - data.products.each do |product|
          .col-md-4
            .panel.panel-default
              .panel-body
                %img{src: product.img}
              .panel-footer
                %h3= product.title
                %p= product.desc
                .btn.btn-success
                  more..

%section#history.history
  .container-fluid
    .row.text-center
      .col-md-6.context
        %h1
          .fa.fa-history
          History
        %p This is our history, started in 2003.
        %p Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.

        %p The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.
      .col-md-6
        .president
          %img{src: "images/shingle.jpg"}

//Map
= partial 'partials/map'

//Footer
= partial 'partials/footer'
